[submodule "seqan3"]
	path = seqan3
	url = https://github.com/seqan/seqan3
[submodule "sux"]
	path = sux
	url = https://github.com/vigna/sux.git
[submodule "sharg-parser"]
	path = sharg-parser
	url = https://github.com/seqan/sharg-parser.git
[submodule "lib/gtl"]
	path = lib/gtl
	url = https://github.com/greg7mdp/gtl
